.on-time {
    background-color: #64b96a !important
}

.twenty-five-percent {
    background-color: #f5ed00 !important
}

.fifty-percent {
    background-color: #c33149 !important
}

.hundred-percent {
    background-color: #bb5cc1 !important
}
