.on-time {
    background-color: "#64b96a"
}

.twenty-five-percent {
    background-color: "#f5ed00"
}

.fifty-percent {
    background-color: "#c33149"

}

.hundred-percent {
    background-color: "#bb5cc1"
}
