*         @mathcolo @friendchris @skaplan-dev @devinmatte @PatrickCleary
/.github/ @mathcolo @friendchris @skaplan-dev @devinmatte @PatrickCleary @nathan-weinberg
.flake8   @mathcolo @friendchris @skaplan-dev @devinmatte @PatrickCleary @nathan-weinberg
deploy.sh @mathcolo @friendchris @skaplan-dev @devinmatte @PatrickCleary @nathan-weinberg
/server/  @mathcolo @friendchris @skaplan-dev @devinmatte @PatrickCleary @austinjpaul
