.terraform
deployment.zip
server/requirements.txt
server/.chalice/deployments
server/chalicelib/__pycache__
cfn/
public/static/
Pipfile
Pipfile.lock
attribution.txt
.ruff_cache

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.envrc

**/data

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
*~
*.pyc


# next.js
/.next/
/out/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# storybook
storybook-static
