.App {
  display: flex;
  text-align: center;
  padding: 10px;
}

.charts {
  flex-wrap: wrap;
  justify-content: center;
}

#options {
  width: 200px;
  float: left;
  margin-right: 10px;
}
.option {
  margin-top: 30px;
  padding: 4px;
  border: 1px solid #dadada;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  float: left;
}