.App {
  text-align: center;
  padding: 10px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.picker-station {
  width: 200px;
}

canvas {
  margin-left: auto;
  margin-right: auto;
  float: left;
}