[tool.poetry]
name = "t-performance-dash"
version = "4.0.0"
description = "TransitMatters performance visualizer for the MBTA"
authors = ["TransitMatters Labs Team"]
license = "MIT"

[tool.poetry.dependencies]
python = "~3.12"
json-api-doc = "0.15.0"
requests = "2.31.0"
pytz = "2024.1"
boto3 = "1.34.79"
botocore = "1.34.79"
numpy = "1.26.4"
pandas = "2.2.1"
datadog_lambda = "5.92.0"
ddtrace = "2.8.0"
dynamodb-json = "^1.3"

[tool.poetry.dev-dependencies]
pip = ">=23.3"
chalice = "1.31.0"
flake8 = "~7.0.0"
black = "~24.3.0"
poetry-plugin-export = "^1.7.1"

[tool.black]
line-length = 120
target-version = ['py312']

[build-system]
requires = ["poetry-core>=1.7.0"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
reportMissingImports = true
reportMissingTypeStubs = false
useLibraryCodeForTypes = false


