[tool.poetry]
name = "t-performance-dash"
version = "4.0.0"
description = "TransitMatters performance visualizer for the MBTA"
authors = ["TransitMatters Labs Team"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9, <3.11"
json-api-doc = "0.15.0"
requests = "2.28.2"
pytz = "2023.3"
boto3 = "1.26.110"
numpy = "1.24.2"
pandas = "1.5.3"

[tool.poetry.dev-dependencies]
pip = "^23.0"
setuptools = "^67.6.1"
chalice = "1.28.0"
flake8 = "6.0.0"
black = "23.3.0"

[tool.black]
line-length = 120
target-version = ['py39', 'py310']

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
