.tabList {
    display: flex;
    font-size: 16px;
    margin-left: -0.2em;
}

.tab {
    padding: 0.2em 0.6em;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    margin-right: 2px;
}

.tab[aria-selected='true'] {
    background: currentColor;
}

.tab[aria-selected='true'] > span {
    color: white;
}

.tab:not([aria-selected='true']):hover {
    background: #eee;
}
