.slowSegmentLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* This is in weird SVG values btw */
    font-size: 2pt;
}

.slowZoneLabel {
    display: flex;
    align-items: baseline;
    gap: 1px;
}