.container {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  position: relative;
}

.tooltipContainer {
  position: absolute;
}

@media screen and (min-width: 770px) {
  .tooltipContainer {
    z-index: 1;
  }
}

.inner {
  overflow-x: scroll;
}