:root {
  --accent-primary: #d13434;
  --global-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.App {
  text-align: center;
  font-size: 14px;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.alerts {
  display: flex;
  height: 16px;
  position: sticky;
  top: 0;
}

.alerts-bar-container {
  height: 16px;
  padding-left: 54px;
  padding-right: 1px;
  position: sticky;
  top: 0;
}

.alerts-bar {
  float: left;
  width: 100%;
  height: 16px;
  position: relative;

  background-color: #8c8c8c;
}

.tippy-box {
  background-color: #eaeaea;
  color: black;
}

.alerts .legend {
  float: right;
  width: 230px;
  height: 30px;

  padding: 0px 0px 0px 12px;
  margin: 0;
}

.station-configuration {
  color: white;
  background-color: var(--accent-primary);
  padding: 10px;
}

.station-configuration select,
.station-configuration input {
  box-shadow: var(--global-shadow);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  appearance: none;
  padding: 3px;
  padding-left: 10px;
  font-size: 1em;
  height: 30px;
}

.station-configuration select > * {
  color: black;
}

.station-configuration .option {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 750px) {
  .chart {
    display: flex;
    justify-content: left;
  }

  .legend {
    width: 190px;
    height: 130px;
    margin-left: 8px;
    margin-top: 38px;
  }

  .station-configuration,
  .station-configuration > .option-group,
  .station-configuration .option {
    display: flex;
    align-items: center;
  }

  .station-configuration .option-line {
    width: 120px;
  }

  .station-configuration > .option:not(:first-child) {
    margin-left: 20px;
  }

  .station-configuration .from-to-label {
    margin-left: 5px;
    margin-right: 5px;
  }

  .station-configuration .option-select {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@media screen and (max-width: 750px) {
  .station-configuration {
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-areas:
      'date line'
      'stations stations';
    column-gap: 10px;
    row-gap: 10px;
  }
  .station-configuration .from-to-label,
  .station-configuration .date-label {
    width: 40px;
    text-align: right;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .station-configuration > .option-line {
    grid-area: line;
  }
  .station-configuration > .option-stations-group {
    display: grid;
    row-gap: 10px;
    grid-area: stations;
  }
  .station-configuration > .option-date {
    grid-area: date;
  }
  .station-configuration > .option-date .option-select {
    width: calc(100% - 50px);
  }
  .station-configuration > .option {
    display: flex;
    align-items: center;
  }
  .station-configuration .option-select {
    width: 100%;
  }
}

.legend {
  text-align: left;
  font-size: 12px;
  padding: 4px;
}

.legend-dot {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
}

.legend-line {
  height: 3px;
  width: 15px;
  vertical-align: middle;
  background-color: #bbb;
  margin-right: 4px;
  display: inline-block;
}

.charts {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.chart-container {
  height: 250px;
}
