.App {
  display: flex;
  text-align: center;
  padding: 10px;
}

#options {
  width: 200px;
  float: left;
  margin-right: 10px;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.option {
  margin-top: 30px;
  padding: 4px;
  border: 1px solid #dadada;
}

.charts {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.chart-container {
  width: 80%;
}