.SSI-Invisible {
  visibility: hidden;
  position: absolute;
}

.SSI-Center-From-Right {
  animation: center 0.5s ease-in-out forwards, centerFromRight 0.5s ease-in-out forwards;
}

.SSI-Center-From-Left {
  animation: center 0.5s ease-in-out forwards, centerFromLeft 0.5s ease-in-out forwards;
}

.SSI-Left-From-Center {
  animation: side 0.5s ease-in-out forwards, leftFromCenter 0.5s ease-in-out forwards;
}
.SSI-Right-From-Center {
  animation: side 0.5s ease-in-out forwards, rightFromCenter 0.5s ease-in-out forwards;
}

.SSI-Right-From-Off {
  animation: in 0.5s ease-in-out forwards, rightFromOff 0.5s ease-in-out forwards;
}
.SSI-Left-From-Off {
  animation: in 0.5s ease-in-out forwards, leftFromOff 0.5s ease-in-out forwards;
}
.SSI-Off-From-Left {
  animation: out 0.5s ease-in-out forwards, offFromLeft 0.5s ease-in-out forwards;
}
.SSI-Off-From-Right {
  animation: out 0.5s ease-in-out forwards, offFromRight 0.5s ease-in-out forwards;
}

@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rightFromOff {
  from {
    transform: translateX(3rem);
  }
  to {
    transform: translateX(5rem);
  }
}
@keyframes leftFromOff {
  from {
    transform: translateX(-3rem);
  }
  to {
    transform: translateX(-5rem);
  }
}

@keyframes centerFromRight {
  from {
    transform: translateX(5rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes centerFromLeft {
  from {
    transform: translateX(-5rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes leftFromCenter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5rem);
  }
}
@keyframes rightFromCenter {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(5rem);
  }
}

@keyframes offFromLeft {
  from {
    transform: translateX(-5rem);
    font-size: 0.75rem;
  }
  to {
    transform: translateX(-3rem);
    font-size: 0rem;
  }
}
@keyframes offFromRight {
  from {
    transform: translateX(5rem);
    font-size: 0.75rem;
  }
  to {
    transform: translateX(3rem);
    font-size: 0rem;
  }
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes side {
  from {
    font-size: 1rem;
    color: black;
    width: 6rem;
  }
  to {
    font-size: 0.75rem;
    color: #808080;
    width: 3rem;
  }
}

@keyframes center {
  from {
    font-size: 0.75rem;
    color: #808080;
    width: 3rem;
  }
  to {
    width: 6rem;
    font-size: 1rem;
    color: black;
  }
}
