@media screen and (min-width: 770px) {
    .chart {
        display: grid;
        grid-template:
            'chart legend'
            'chart extras';
        grid-template-columns: 1fr 190px;
        column-gap: 8px;
    }

    .chart .chart-container {
        grid-area: chart;
    }

    .chart .legend {
        grid-area: legend;
        margin-top: 65px;
    }

    .chart .control {
        grid-area: extras;
        margin-top: 20px;
    }
}

@media screen and (max-width: 770px) {
    .alerts {
        grid-template-areas: 'left-gutter alerts right-gutter';
        grid-template-columns: 46px 1fr 8px;
    }

    .alerts-bar {
        height: 30px;
    }

    .alerts .legend {
        display: none;
    }

    .chart-extras {
        margin-left: 44px;
        display: flex;
        justify-content: space-between;
    }

    .chart-extras .legend {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: column;
        column-gap: 10px;
    }

    .chart-extras .control {
        margin-right: 25px;
        margin-bottom: 10px;
    }
}

.legend {
    text-align: left;
    font-size: 12px;
    padding: 4px;
}

.legend-dot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
}

.legend-line {
    height: 3px;
    width: 15px;
    vertical-align: middle;
    background-color: #bbb;
    margin-right: 4px;
    display: inline-block;
}

.chart .legend {
    grid-area: legend;
    margin-top: 65px;
}

/* Alerts */

.alerts-wrapper {
    background: white;
    box-shadow: var(--global-shadow);
    background-color: #eee;
    position: relative;
    transition: 200ms all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.alerts-wrapper.hidden {
    transform: translateY(-100%);
}

.alerts {
    display: grid;
    grid-template-areas: 'left-gutter alerts right-gutter legend';
    grid-template-columns: 54px 1fr 20px 190px;
    height: 100%;
}

.alerts-bar {
    grid-area: alerts;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.alerts .legend {
    grid-area: legend;
}

.alerts .legend .alert-incident-line,
.alerts .incident-section {
    background: var(--incident-color);
}

.tippy-box {
    background-color: var(--incident-tooltip-color);
    box-shadow: var(--global-shadow);
    color: black;
}

.tippy-box .tippy-arrow {
    color: var(--incident-tooltip-color);
}

/* Datepicker Selected Date colors */
.selected-date-line-red {
    background: #E89999 !important;
    border-color: #E89999 !important;
}

.selected-date-line-orange {
    background: #F6C580 !important;
    border-color: #F6C580 !important;
}

.selected-date-line-blue {
    background: #809ED2 !important;
    border-color: #809ED2 !important;
}

.selected-date-line-green {
    background: #80C1A6 !important;
    border-color: #80C1A6 !important;
}

.selected-date-line-bus {
    background: #FFE395 !important;
    border-color: #FFE395 !important;
}