@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transitmatters-red: #d31a2b;
  --red-line: #da291c;
  --orange-line: #ed8b00;
  --blue-line: #003da5;
  --green-line: #00843d;
  --bus: #ffc72c;
  --global-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  --incident-color: #c02828;
  --incident-tooltip-color: #eaeaea;
  --swap-white: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 125'><path fill='white' transform='rotate(90 50 62)' style='text-indent:0;text-transform:none;block-progression:tb' d='M42 10a2 2 0 00-2 1l-8 9a2 2 0 000 3l9 10a2 2 0 103-3l-6-7h27c10 0 15 7 15 13s-5 12-15 12H35c-12 0-19 8-19 16 0 9 7 17 19 17h27l-5 5a2 2 0 103 3l8-9a2 2 0 000-3l-9-10a2 2 0 10-3 3l6 7H35c-10 0-15-6-15-13 0-6 5-12 15-12h30c12 0 19-8 19-16s-7-17-19-17H38l5-5a2 2 0 00-1-4z' fill-rule='evenodd' overflow='visible'/></svg>");
  --swap-black: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 125'><path fill='black' transform='rotate(90 50 62)' style='text-indent:0;text-transform:none;block-progression:tb' d='M42 10a2 2 0 00-2 1l-8 9a2 2 0 000 3l9 10a2 2 0 103-3l-6-7h27c10 0 15 7 15 13s-5 12-15 12H35c-12 0-19 8-19 16 0 9 7 17 19 17h27l-5 5a2 2 0 103 3l8-9a2 2 0 000-3l-9-10a2 2 0 10-3 3l6 7H35c-10 0-15-6-15-13 0-6 5-12 15-12h30c12 0 19-8 19-16s-7-17-19-17H38l5-5a2 2 0 00-1-4z' fill-rule='evenodd' overflow='visible'/></svg>");
  --download-icon: url("data:image/svg+xml,<svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9 17L15 17' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/><path d='M12 6V13M12 13L15.5 9.5M12 13L8.5 9.5' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-column {
  margin: 0 auto;
  width: 92%;
  max-width: 1200px;
}

@media screen and (min-width: 770px) {
  .chart {
    display: grid;
    grid-template:
      'chart legend'
      'chart extras';
    grid-template-columns: 1fr 190px;
    column-gap: 8px;
  }

  .chart .chart-container {
    grid-area: chart;
  }

  .chart .legend {
    grid-area: legend;
    margin-top: 65px;
  }

  .chart .control {
    grid-area: extras;
    margin-top: 20px;
  }
}

@media screen and (max-width: 770px) {
  .alerts {
    grid-template-areas: 'left-gutter alerts right-gutter';
    grid-template-columns: 46px 1fr 8px;
  }

  .alerts-bar {
    height: 30px;
  }

  .alerts .legend {
    display: none;
  }

  .chart-extras {
    margin-left: 44px;
    display: flex;
    justify-content: space-between;
  }

  .chart-extras .legend {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: 10px;
  }

  .chart-extras .control {
    margin-right: 25px;
    margin-bottom: 10px;
  }
}

.legend {
  text-align: left;
  font-size: 12px;
  padding: 4px;
}

.legend-dot {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
}

.legend-line {
  height: 3px;
  width: 15px;
  vertical-align: middle;
  background-color: #bbb;
  margin-right: 4px;
  display: inline-block;
}

.chart .legend {
  grid-area: legend;
  margin-top: 65px;
}

/* Alerts */

.alerts-wrapper {
  background: white;
  box-shadow: var(--global-shadow);
  background-color: #eee;
  z-index: -1;
  position: relative;
  transition: 200ms all cubic-bezier(0.645, 0.045, 0.355, 1);
}

.alerts-wrapper.hidden {
  transform: translateY(-100%);
}

.alerts {
  display: grid;
  grid-template-areas: 'left-gutter alerts right-gutter legend';
  grid-template-columns: 54px 1fr 20px 190px;
  height: 100%;
}

.alerts-bar {
  grid-area: alerts;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.alerts .legend {
  grid-area: legend;
}

.alerts .legend .alert-incident-line,
.alerts .incident-section {
  background: var(--incident-color);
}

.tippy-box {
  background-color: var(--incident-tooltip-color);
  box-shadow: var(--global-shadow);
  color: black;
}

.tippy-box .tippy-arrow {
  color: var(--incident-tooltip-color);
}
