name: build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Set up Node 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Check if package-lock.json is up to date
        run: |
          npx --yes package-lock-utd@1.1.0
      - name: Fully build frontend code
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          npm ci
          npm run build-v4
