name: deploy

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *' # Runs at 00:00 on the first day of every month
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['20']
        python-version: ['3.12']
    env:
      AWS_PROFILE: transitmatters
      AWS_DEFAULT_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TM_FRONTEND_CERT_ARN: ${{ secrets.TM_FRONTEND_CERT_ARN }}
      TM_LABS_WILDCARD_CERT_ARN: ${{ secrets.TM_LABS_WILDCARD_CERT_ARN }}
      MBTA_V3_API_KEY: ${{ secrets.MBTA_V3_API_KEY }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-tags: true
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Install dependencies
        run: uv sync --group dev
      - name: Set up Node ${{ matrix.node-version }}.x
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check if package-lock.json is up to date
        run: |
          npx --yes package-lock-utd@1.1.0
      - name: Generate AWS profile
        run: |
          mkdir ~/.aws
          cat >> ~/.aws/credentials << EOF
          [$AWS_PROFILE]
          aws_access_key_id = $AWS_ACCESS_KEY_ID
          aws_secret_access_key = $AWS_SECRET_ACCESS_KEY
          EOF
      - name: Run deploy shell script
        run: |
          npm ci
          bash deploy.sh -p -c
