name: healthcheck

on:
  schedule:
    - cron: '15 23 * * *' # 7:15PM EST every day

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Run backend healthcheck
        run: |
          curl --fail-with-body https://dashboard-api.labs.transitmatters.org/api/healthcheck
