name: lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  frontend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['18']
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Set up Node ${{ matrix.node-version }}.x
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Lint frontend code with ESLint
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          npm ci
          npm run lint-frontend

  backend:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Node 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Lint backend code with Flake8
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          npm ci
          npm run lint-backend
